.container {
  display: flex;
  flex-direction: row;
}

.textarea-container {
    position: relative;
    tab-size: 4;
}

.textarea-container textarea {
    white-space: pre;
}

.hotkeys {
    position: absolute;
    bottom: 25px;
    left: 800px;
    transform: translateX(50%);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    position: absolute;
    top: 3%;
    left: 400px;
    /* transform: translateX(-50%);  */
    /* align-items: center; */
    /* justify-content: center; */
    width: 910px;
}


.hand-widget {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 300px;
}

.winning {
  color: green;
}

.losing {
  color: red;
}

.card {
    width: 50px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    border-radius: 5px;
}

.card.big {
  font-size: 32px;
}

.card.description {
  display: inline-block;
  vertical-align: middle;
}

.card.clubs {
    background-color: teal;  
}

.card.diamonds {
    background-color: purple;
}

.card.hearts {
    background-color: red;
}

.card.spades {
    background-color: black;
}

.card.outline {
  background-color: transparent;
  border: 1px solid green;
}

.suit {
    font-size: 25px;
    margin-left: 3px;
}

.selected {
    background-color: blue !important;
}

.dealer-card {
  background-color: gray !important;
}

.player-card {
  background-color: orange !important;
}

.dealer-best {
  background-color: green !important;
}

.hand {
    display: flex;
    gap: 10px;
}

.toast {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #060505;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.how-to-play {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.how-to-play-text {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  /* text-align: center; */
}

.how-to-play-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  width: 1000px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.how-to-play-wrapper {
  position: absolute;
  top: 10px;
  left: 850px;
  transform: translateX(-50%);
  z-index: 2;
}

.hotkeys {
  position: absolute;
  bottom: 25px;
  left: 850px;
  transform: translateX(-50%); 
}

@media (min-width: 1500px) {
  .grid {
    left: 50%;
    transform: translateX(-50%);
  }
  .hotkeys {
    left: 50%;
    transform: translateX(-50%);
  }
  .how-to-play-wrapper {
    left: 50%;
    transform: translateX(-50%);
  }
}
