<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
        <div>
                <button id="new-game-btn" style="margin-right: 5px">New game</button>
                <button id="deal-card-btn" style="margin-right: 5px">Deal card</button>
        </div>
        <div style="margin-top: 10px">
                <input type="text" id="player-name-input" placeholder="Player name" style="margin-right: 5px">
                <span id="record" style="margin-right: 5px"></span>
        </div>
        <div> <button id="delete-record-btn" style="margin-top: 10px">Set record to 0 - 0</button> </div>
        <div> <input type="checkbox" id="highlight-dealer-best-hand" style="margin-top: 10px">
                <label for="highlight-dealer-best-hand">Highlight dealer's best hand</label>
        </div>
        <div class="how-to-play-wrapper">
                <div class="how-to-play" onclick="toggleHowToPlay(event)">
                        <span class="how-to-play-text" id="how-to-play-btn-text">How to play</span>
                        <div class="how-to-play-popup" id="how-to-play-popup">
                                <p> <strong> Rules </strong> </p>
                                <p> Each turn, you request a subset of cards from the deck. The dealer deals cards until
                                        they deal a card that matches your subset, at which point you get that card, and
                                        they keep all other cards dealt this way. </p>
                                <p> E.g. if you asked for any heart (aka your subset was all the hearts), you would
                                        always get a heart, and the dealer would get somewhere between no cards and all
                                        the non-heart cards, depending on the order of the deck. </p>
                                <p> The game ends when you have 5 cards. </p>
                                <p> If the dealer has less than 8 cards at this point, they draw up to 8, and then each
                                        player plays their best 5 card poker hand. </p>
                                <p> The dealer wins ties. </p>
                                <p> If you set a player name, your win/loss record will be saved. </p>
                                <p> </p>
                                <p> <strong> Some strategy tips </strong> </p>
                                <p> You can (and should) change the subset of cards you're asking for each turn. </p>
                                <p> To give you a starting off point, a reasonable, although certainly not great,
                                        strategy is to ask for any card above an 8 on turn one, and then make a flush
                                        from that suit. </p>
                                <p> I usually find it easiest to look at the grayed out cards to evaluate the dealer's
                                        hand, rather than their hand on the left. </p>
                                <p> </p>
                                <p> <strong> Coloring key </strong> </p>
                                <grid style="gap: 10px; display: grid; grid-template-columns: repeat(13, 1fr);">
                                        <p> <span class="card spades description" style="display: flex">&spades;</span>
                                        </p>
                                        <p> <span class="card clubs description" style="display: flex">&clubs;</span>
                                        </p>
                                        <p> <span class="card hearts description" style="display: flex">&hearts;</span>
                                        </p>
                                        <p> <span class="card diamonds description" style="display: flex">♦</span></p>
                                </grid>
                                <p> <span class="card player-card description"> </span> In player's hand </p>
                                <p> <span class="card dealer-card description"> </span> In dealer's hand </p>
                                <p> <span class="card selected description"> </span> Selected </p>
                                <p> <span class="card dealer-best description"> </span> Part of best hand </p>
                                <p> The order of hands </p>
                                <p> Straight Flush </p>
                                <p> Four of a Kind </p>
                                <p> Full House </p>
                                <p> Flush </p>
                                <p> Straight </p>
                                <p> Three of a Kind </p>
                                <p> Two Pair </p>
                                <p> Pair </p>
                                <p> High Card </p>
                        </div>
                </div>
        </div>
        <div class="grid" style="margin-top: 10px">
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">A</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">K</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">Q</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">J</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">10</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">9</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">8</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">7</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">6</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">5</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">4</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">3</span><span
                                class="suit">&spades;</span></div>
                <div class="card spades" onclick="toggleCardSelected(this)"><span class="rank">2</span><span
                                class="suit">&spades;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">A</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">K</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">Q</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">J</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">10</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">9</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">8</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">7</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">6</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">5</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">4</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">3</span><span
                                class="suit">&clubs;</span></div>
                <div class="card clubs" onclick="toggleCardSelected(this)"><span class="rank">2</span><span
                                class="suit">&clubs;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">A</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">K</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">Q</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">J</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">10</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">9</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">8</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">7</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">6</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">5</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">4</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">3</span><span
                                class="suit">&hearts;</span></div>
                <div class="card hearts" onclick="toggleCardSelected(this)"><span class="rank">2</span><span
                                class="suit">&hearts;</span></div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">A</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">K</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">Q</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">J</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">10</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">9</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">8</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">7</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">6</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">5</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">4</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">3</span><span
                                class="suit">♦</span>
                </div>
                <div class="card diamonds" onclick="toggleCardSelected(this)"><span class="rank">2</span><span
                                class="suit">♦</span>
                </div>
        </div>
        <h2 id="player-hand-description"> Player </h2>
        <div class="hand-widget" id="player-hand">
                <div class="hand"> </div>
        </div>
        <h2 id="dealer-hand-description"> Dealer </h2>
        <div class="hand-widget" id="dealer-hand">
                <div class="hand"> </div>
        </div>

        <div class="hotkeys" style="position: absolute; bottom: 25px; right: 25px">
                <h2> Hotkeys </h2>
                <h3> Shift plus: </h3>
                <p> <strong> S|C|H|D </strong> - select all cards of a suit</p>
                <p> <strong> A|K|Q|J|T|[2-9] </strong> - select all cards of a rank </p>
                <p> <strong> U </strong> - select all cards </p>
                <p> <strong> P </strong> - focus player name </p>
                <h3> Ctrl plus alt plus: </h3>
                <p> <strong> d </strong> - deal a card </p>
                <p> <strong> n </strong> - new game</p>
                <p> <strong> r </strong> - reset record </p>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
